
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html><html lang='en'>
<head>
<link href="/assets/css/c.css" rel="stylesheet">
</head>
<body>
<div class="login">
	<h1>Login</h1>
    <br><br>
    <form method="post" s7>
    	<input type="text" name="u" placeholder="Nom d'utilisateur" required="required" />
        <input type="email" name="u" placeholder="adresse Email" required="required" />
    	<input type="password" name="u" placeholder="Password" required="required" />

        <input type="password" name="p" placeholder=" Confirmer le Password" required="required" />
        <br><br><br><br>
        <button type="submit" style="background:none;border: none; margin-left: 3.2cm;" ><i class="fas fa-2x fa-arrow-circle-right" style="color: rgb(133, 106, 106);"></i></button>
    </form>
</div>




</body></html>